*{
    padding: 0;
    margin: 0;
    border: 0px;
}

section{
    #img-ingest-hidric{
        width: 300px;
        height: 300px;
        float: left;
    }
    background-color: #66d1e4;
    margin-top: -5px;
    p{padding-right: 100px}
    
}
@import "header";



